body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:white;
}

.aElem{
    color: white !important; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.divElem{
    color: white;
    margin: 100px 20px 50px 120px;
    background-color: blueviolet;
}